<div class="quiz-edit">
    <h2>{{quiz.Title}}</h2>
    <div class="form-group">
        <label for="title">Quiz Title:</label>
        <br />
        <input type="text" id="title" 
            [(ngModel)]="quiz.Title"
            placeholder="Choose a title..."
            class="form-control"/>
    </div>
    <div class="form-group">
        <label for="description">Quiz Description:</label>
        <br />
        <input type="text" id="description" 
            [(ngModel)]="quiz.Description"
            placeholder="Enter a Description..."
            class="form-control"/>
    </div>
    <div class="form-group">
        <label for="text">Quiz Informative Text:</label>
        <br />
        <input type="text" id="text" 
            [(ngModel)]="quiz.Text"
            placeholder="Enter some informative text..."
            class="form-control"/>
    </div>
    <div class="form-group commands">
        <input *ngIf="editMode" type="button"
                value="Apply Changes"
                (click)="onSubmit(quiz)"
                class="btn btn-success" 
        />
        <input *ngIf="!editMode" type="button"
                value="Create the Quiz!"
                (click)="onSubmit(quiz)"
                class="btn btn-success" 
        />
        <input  type="button"
                value="Cancel"
                (click)="onBack()"
                class="btn btn-default" 
        />
    </div>
    <question-list [quiz]="quiz" *ngIf="editMode"></question-list>
    <result-list [quiz]="quiz" *ngIf="editMode"></result-list>
</div>
