<h3>Questions</h3>
<div *ngIf="questions && questions.length">
  <table class="questions">
    <thead>
      <tr>
        <th>Text</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{question.Text}}</td>
        <td>
          <input type="button" value="Edit" (click)="onEdit(question)" />
        </td>
        <td>
          <input type="button" value="Delete" (click)="onDelete(question)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="questions && !questions.length">
  This quiz has no questions yet. Click <strong>Add</strong> to add the first one!
</div>
<input type="button" value="Add" (click)="onCreate()" />